/* 마진값 패딩값 설정 */
html, body, span, div, h1, h2, h3, h4, h5, h6 section, ul, p
{
    margin: 0;
    padding: 0;
}



html
{
    width: 100%;
    height: 100%;
    min-width: 320px;
}


body
{
    padding: 0;
    margin: 0;
    height: 100%;
    -webkit-text-size-adjust: none;
}

a
{
    text-decoration: none;
    color: #707070;
}

li
{
    list-style: none;
}

/* 탑메뉴 */
.top_menu
{
    position: relative;
    top: 0px;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 5px;
    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    float: left;
}

.top_left, .top_center, .top_right
{
    float: left;
}



    /* 탑메뉴 가운데 */
.top_center
{
    float: left;
    width: 100%;
    text-align: center;

}

.logo
{
    padding: 20px 0px;
    display: inline-block;
}

.logo_img
{
    width: 200px;
    height: 40px;
}

/* 로그인 박스 */

#login
{
    padding: 0px 30px;
    float: left;
    position: relative;
    width: 100%;
    box-sizing: border-box;

}

#login h2
{
    color: #707070;
    margin: 20px 0px;
    text-align: center;
}

    /* 로그인창 박스 */

.member_login
{
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    box-sizing: border-box;
    text-align: center;

}
    /* id 박스 */
#login .member_login .id
{
    float: left;
    width: 100%;
    position: relative;
    padding: 0px 10px;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
    font-size: 13px;
    line-height: 40px;
    border: 1px solid #e1e1e1;
}
    /* password 박스 */
#login .member_login .password
{
    float: left;
    width: 100%;
    position: relative;
    padding: 0px 10px;
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
    font-size: 13px;
    line-height: 40px;
    border: 1px solid #e1e1e1;
}
    /* 로그인 버튼 */

#login .button_box
{
    width: 100%;
    float: left;
    padding: 20px 0px;
    text-align: center;
}

#login .button_box button
{
    border-radius: 3px;
    background-color: #707070;
    color: #e1e1e1;
    border: 0;
    padding: 10px 40px;
}

    /* 아이디 서포트 */
#login .login_support 
{
    float: left;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
}

#login .login_support div
{
    display: inline-block;
    padding: 0px 10px;
    font-size: 12px;
}